@import 'tailwindcss';
  .cancel-btn{
    color: #ef4444;
  }
  .cancel-btn:hover {
    color: #f87171;
  }
  .flag-btn {
    color: white !important;
  }
  .flag-btn-border {
    border-color: #A9A9A9;
    border-width: 4px;
    border-style: solid;
  }
  .toast-message {
    top: 100px !important;
  }
@media (max-width: 767px) {
  .audio-container {
    flex-direction: column;
    gap: 48px;
  }
}
